uvicorn[standard]
gunicorn
python-dotenv
pydantic-settings
databases[postgresql]
psycopg2-binary
rich
asgi-correlation-id
python-json-logger
python-jose
python-multipart
passlib[bcrypt]
werkzeug
celery
redis
ezdxf
fiona==1.10.1
fastapi==0.136.1
pydantic==2.13.3
geopandas==1.1.3
